PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=registry_taylor

PORT=4000
CORS_ORIGINS=http://localhost:3000

NEXT_PUBLIC_API_URL=http://localhost:4000
JWT_SECRET=3bd3f60f0ca14068b1ab4f3c3e2d6f1b
